* {
  font-family: JetBrainsMono;
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: rgba(41, 46, 66, 0.5);
  margin: auto;
  padding: 10px;
  border-radius: 0px;
  border: 0.5px solid #b072d1;
}

#input {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 0px;
}

#outer-box {
  padding: 10px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 5px;
  border-radius: 15px;
}

#entry:selected {
  background-color: #2e3440;
}

#text {
  margin: 2px;
}
